* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100vw;
  height: 8vh;
  z-index: 8;
  background-color: rgb(255, 255, 255);
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
 padding-left: 5vw;
}
#tabs{
  width: 90vw;
  height: 8vh;
  display: grid;
  grid-template-columns: 17vw 6vw 11vw 8vw 8vw 17vw 11vw 8vw 4vw;
  margin: 0;
}
#firstLogo{background-image: url(./materijal/headline1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#secondLogo{
  background-image: url(./materijal/headlineDkitlogo1.png);
  background-size: 5vw;
  background-repeat: no-repeat;
  background-position: center;
}
#thirdLogo{
  background-image: url(./materijal/dkit2.png);
  background-size: 8vw;
  background-repeat: no-repeat;
  background-position: center;
}

#linkNaslovna,#linkONama,#linkUsluge,#linkKlijenti,#linkKontakt,#linkEngleski{
text-align: center;
padding-top: 2vh;
font-size: 0.9em;
background-color: #fff;
z-index: 9;
}
#linkNaslovna:hover,#linkONama:hover,#linkUsluge:hover,#linkKlijenti:hover,#linkKontakt:hover,#linkEngleski:hover{
background-color:rgb(161, 93, 175)
  }
a:link,a:visited  {
  text-decoration: none;
  color: black;
}


main {
  display: block;
}
#wraper {
  position: relative;
  width: 100%;
  background-image: url(./1633.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  padding-top: 8vh;
  margin: 0;
}
#naslovna {
  display: block;
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: rgba(236, 192, 245, 0.7);
  background-repeat: no-repeat;
  background-size: contain; 
  margin: 0;
}
#bigWrap{
  display: block;
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url(./materijal/header1.png);
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0;
  animation-duration: 45s;
  animation-name: pomeranje3;
  animation-iteration-count: infinite;
}
#smallWrap {
  display: block;
  position: relative;
  width: 88%;
  height: 80vh;
  text-align: center;
  font-size: 2em;
  background-image: url(./materijal/header2.png);
  background-repeat: no-repeat;
  background-size: contain;
  animation-duration: 35s;
  animation-name: pomeranje2;
  animation-iteration-count: infinite;
 
}
#movingPart {
    color: white;
    text-shadow: 3px 3px 6px #000000;
  position: absolute;
  width: 50%;
  left:10vw;
    top: 0;
  animation-duration: 25s;
  animation-name: pomeranje;
  animation-iteration-count: infinite;
}
@keyframes pomeranje {
  0% {
    left:10vw;
    top: 0;
  }
  25% {
    left:20vw;
    top: 0;
  }
  50% {
    left: 25vw;
    top:10vh;
  }
  75% {
    left: 20vw;
    top: 10vh;
  }
  100% {
    left:10vw;
    top: 0;
  }
}
@keyframes pomeranje2 {
    0% {
      left:0vw;
      top: 0vh;
    }
    25% {
      left:0vw;
      top: 7vh;
    }
    50% {
      left: 14vw;
      top:7vh;
    }
    75% {
      left: 8vw;
      top: 0vh;
    }
    100% {
      left:0vw;
      top: 0vh;
    }
  }
  @keyframes pomeranje3 {
    0% {
      left:1vw;
      top: 0;
    }
    25% {
      left:1vw;
      top: 0;
    }
    50% {
      left: 1vw;
      top:1vh;
    }
    75% {
      left: 1vw;
      top: 1vh;
    }
    100% {
      left:1vw;
      top: 0;
    }
  }

#smallWrap h1,
#smallWrap p {
  width: 100%;
}
#smallWrap h1 {
  border-bottom: solid white 4px;
}
#oNama {
  display: grid;
  position: relative;
  top: 10vh;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 50vw 50vw;
  color: rgb(100, 32, 114);
}
#aboutText{
  display: grid;
  justify-content: space-around;
}
#aboutWrap{
  width: 40vw;
}
#aboutWrap h1{
margin-bottom: 5vh;
border-bottom: solid 3px rgb(100, 32, 114);
}
#numberCounter{
  display: grid;
  height: 90vh;
  align-items: center;
  width: 50vw;
  font-size: 1.5em;
  text-align: center;
  background-color: rgb(232, 201, 238);
}
#numbsWrap{
  width: 40vw;
  height: 70vh;
  display: grid;
  justify-content: space-evenly;
}
#usluge {
  display: grid;
  grid-template-areas:
    "header header header"
    "left main right";
  grid-gap: 2vw;
  margin-left: 8vw;
  margin-right: 8vw;
}
#uslugeHed {
  grid-area: header;
  height: 10vh;
}
#leftArrow {
  grid-area: left;
  width: 5vw;
  height: 40vh;
  background-image: url(./materijal/strelicaLevo.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#rightArrow {
  width: 5vw;
  height: 40vh;
  background-image: url(./materijal/strelicaDesno.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#sliderDiv {
  grid-area: main;
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw 5vw;
  grid-column-gap: 1.5vw;
  width: 70vw;
  height: 40vh;
}
.oneSliderDiv {
  height: 15vw;
  font-size: 0.5em;
}
.picDiv {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
#firstPicDiv {
  background-image: url(./materijal/slikeProjekata1.png);
}
#secondPicDiv {
  background-image: url(./materijal/slikeProjekata2.png);
}
#thirdPicDiv {
  background-image: url(./materijal/slikeProjekata3.png);
}
#fourthPicDiv {
  background-image: url(./materijal/slikeProjekata4.png);
}
#lastPicDiv {
  background-size: cover;
  background-image: linear-gradient(to right, transparent, white),
    url(./materijal/slikeProjekata5.png);
}
#rekliSu {
  position: relative;
  width: 100vw;
  height: 50vh;
  background-image: url(./materijal/aboutUsBackground.jpg);
  background-size: cover;
}
#klijenti {
  display: block;
  width: 100vw;
  height: 100vh;
}
#clientsContainer {
  display: grid;
  grid-column-gap: 35px;
  grid-row-gap: 25px;
  grid-template-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: rgba(0, 0, 0, 0.05);
}
.oneClient {
  font-size: 30px;
  text-align: center;
  width: 15vw;
  height: 10vw;
  background-repeat: no-repeat;
  background-size: contain;
  filter: grayscale(100%);
}
#client1 {
  background-image: url(./logoiKlijenata/1.png);
}
#client2 {
  background-image: url(./logoiKlijenata/2.png);
}
#client3 {
  background-image: url(./logoiKlijenata/3.png);
}
#client4 {
  background-image: url(./logoiKlijenata/4.png);
}
#client5 {
  background-image: url(./logoiKlijenata/5.png);
}
#client6 {
  background-image: url(./logoiKlijenata/6.png);
}
#client7 {
  background-image: url(./logoiKlijenata/7.png);
}
#client8 {
  background-image: url(./logoiKlijenata/8.png);
}
#client9 {
  background-image: url(./logoiKlijenata/9.png);
}
#client10 {
  background-image: url(./logoiKlijenata/10.png);
}
#client11 {
  background-image: url(./logoiKlijenata/11.png);
}
#client12 {
  background-image: url(./logoiKlijenata/12.png);
}
#client13 {
  background-image: url(./logoiKlijenata/13.png);
}
#client14 {
  background-image: url(./logoiKlijenata/14.png);
}
#client15 {
  background-image: url(./logoiKlijenata/15.png);
}
#client16 {
  background-image: url(./logoiKlijenata/16.png);
}
#client17 {
  background-image: url(./logoiKlijenata/17.png);
}
#client18 {
  background-image: url(./logoiKlijenata/18.png);
}
#client19 {
  background-image: url(./logoiKlijenata/19.png);
}
#client20 {
  background-image: url(./logoiKlijenata/20.png);
}
.clientCont {
  width: 100%;
  height: 100%;
}
.oneClient:hover {
  filter: grayscale(0%);
}
#rekliSuCont {
  display: grid;
  grid-template-rows: 15vh 35vh;
  height: 100%;
  width: 100%;
  background-color: rgba(211, 145, 224, 0.7);
}
#randomQuote {
  display: grid;
  grid-template-rows: 20vh 15vh;
  width: 50vw;
  z-index: 5;
  padding-left: 35vw;
}
#quoteText {
  background-image: url(./materijal/quotationBorder.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2vw;
}
#bigPic {
  display: none;
  position: fixed; 
  z-index: 7;
  padding-top: 10px; 
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  margin: 0;
}
#bigPicWrap {
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  z-index: 7;
  margin: 0;
}
#close {
  color: red;
  float: right;
  margin-right: 5vw;
  font-size: 4em;
  font-weight: bold;
  z-index: 8;
}

#close:hover,
#close:focus {
  text-decoration: none;
  cursor: pointer;
}
#kontakt {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
}
